
.bar {
  position: relative;
  top: 680px;
  left: 0;
  bottom: 0;
  min-width: 1320px;
  height: 70px; 
  background-color: black;
  font-size: 0;
  display: -webkit-box;
}

body {
    color: white;
    font-family: sans-serif;
  }

.main-item {
  height: 100%;
  vertical-align: bottom;
  font-size: 16px;
}

.scores {
  width: 40%;
  opacity: 100%;
}

.score {
  float: left;
  width: 50%;
  height: 100%;
}

.home-section {
  background-color: orange;
  border:1px solid black;
box-sizing: border-box;
}

.visitor-section {
  background-color: grey;
  border:1px solid black;
  box-sizing: border-box;
}

.top-of-score {
    height: 70%;
}
.top-of-score div{
    display: inline-block;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
}

.home-logo {
    width: 20%;
    font-size: 35px;
    position: relative;
    left: 11px;
    top: 2px;

}
.home-rank {
    width: 10%;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 20px;
}
.home { 
    width: 25%;
    font-size: 29px;
    position: relative;
    top: 9px;
    right: 7px;
}
.home-score{
    width: 40%;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
    position: relative;
    left: 142px;
    bottom: 53px;
    right: 5px;
}

.visitor-score{
    width: 40%;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    position: relative;
    bottom: 5px;
    left: 5px;
}
.visitor {
    width: 25%;
    font-size: 29px;
    position: relative;
    top: 9px;
    left: 7px;
}
.visitor-rank{
    width: 10%;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 20px;
}
.visitor-logo{
    width: 20%;
    font-size: 35px;
    position: relative;
    left: 32px;
    top: 0px;
}
.bottom-of-score {
  height: 30%;
  background-color: black;
}

.time {
  height: 100%;
  width: 10%;
  text-align: center;
}
.top-of-time {
  height: 60%;
  font-size: 30px;
}
.bottom-of-time {
  height: 40%;
}
.bottom-of-time div {
  display: inline-block;
  font-size: 20px;
}
.shot-clock{
    color: yellow;
    font-weight: bold;
}

.context {
  width: 40%;
}
.left-of-context {
  width: 60%;
  float: left;
}
.top-of-left-context {
  height: 60%;
  font-size: 18px;
  position: relative;
  top: 8px;
}
.bottom-of-left-context {
  height: 40%;
  font-size: 20px;
}
.right-of-context {
  width: 40%;
float: right;
text-align: center;
}
.top-of-right-context {
  height: 50%;
  font-size: 19px;
  font-weight: bold;
  position: relative;
  top: 7px;
}
.bottom-of-right-context {
  height: 50%;
  font-size: 17px;
}

.station-logo {
    width: 10%;
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 15px;
  }
