
.bar {
  position: relative;
  top: 680px;
  left: 0;
  bottom: 0;
  width: 100%;
  /* font-size:  */
  height: 70px; 
  background-color: black;
}
/* .bar2 div {
color: pink;
} */

.bar div {
    color: white;
  }

.main-item {
  height: 100%;
  display: inline-block;
  vertical-align: bottom;
}

.scores {
  width: 40%;
  height: 100%;
}

.score {
  float: left;
  width: 50%;
  height: 100%;
}

.score-left {
  background-color: orange;
}

.score-right {
  background-color: grey;
}

.top-of-score {
  height: 70%;
}

.bottom-of-score {
  height: 30%;
  background-color: black;
}

.time {
  height: 100%;
  width: 10%;
}

.context {
  width: 35%;
}

.station-logo {
  width: 10%;
}

.top-of-time {
  height: 60%;
}

.bottom-of-time {
  height: 40%;
}

.bottom-of-time div {
  display: inline-block;
}

.context div {
  float: left;
}

.left-of-context {
  width: 60%;
}

.top-of-left-context {
  height: 60%;
}

.bottom-of-left-context {
  height: 40%;
}

.right-of-context {
  width: 40%;
}

.top-of-right-context {
  height: 50%;
}

.bottom-of-right-context {
  height: 50%;
}
