
.bar {
  position: relative;
  top: 680px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px; 
  background-color: black;
  font-size: 0;
}

body {
    color: white;
  }

.main-item {
  height: 100%;
  display: inline-block;
  vertical-align: bottom;
  font-size: 16px;
}

.scores {
  width: 40%;
  opacity: 100%;
}

.score {
  float: left;
  width: 50%;
  height: 100%;
}

.score-left {
  background-color: orange;
  border:1px solid black;
box-sizing: border-box;
}

.score-right {
  background-color: grey;
  border:1px solid black;
  box-sizing: border-box;
}

.top-of-score {
    height: 70%;
}
.top-of-score div{
    display: inline-block;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
}

.logoleft {
    width: 20%;
    font-size: 35px;
    position: relative;
    left: 11px;
    top: 2px;

}
.rankleft {
    width: 10%;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 20px;
}
.textleft{ 
    width: 25%;
    font-size: 29px;
    position: relative;
    top: 9px;
    right: 7px;
}
.scoreleft {
    width: 40%;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
    position: relative;
    bottom: 5px;
    right: 5px;
}

.scoreright{
    width: 40%;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    position: relative;
    bottom: 5px;
    left: 5px;
}
.textright {
    width: 25%;
    font-size: 29px;
    position: relative;
    top: 9px;
    left: 7px;
}
.rankright{
    width: 10%;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 20px;
}
.logoright{
    width: 20%;
    font-size: 35px;
    position: relative;
    left: 11px;
    top: 2px;
}
.bottom-of-score {
  height: 30%;
  background-color: black;
}

.time {
  height: 100%;
  width: 10%;
  text-align: center;
}
.top-of-time {
  height: 60%;
}
.bottom-of-time {
  height: 40%;
}
.bottom-of-time div {
  display: inline-block;
}
.shot-clock{
    color: yellow;
    font-weight: bold;
}

.context {
  width: 40%;
}
.left-of-context {
  width: 60%;
  float: left;
}
.top-of-left-context {
  height: 60%;
}
.bottom-of-left-context {
  height: 40%;
}
.right-of-context {
  width: 40%;
float: right;
text-align: center;
}
.top-of-right-context {
  height: 50%;
}
.bottom-of-right-context {
  height: 50%;
}

.station-logo {
    width: 10%;
    text-align: center;
  }
